body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*
    CSS primary design for mobile view.
*/

#view1 {
    color: white;
    background-image: linear-gradient(rgb(73,138,220),rgb(98,59,156));
    font-family: 'IBM Plex Sans',sans-serif; 
    font-weight: 450; /*medium?*/
    /* display: none; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#head-container {
    order: 1
}

#head-container > h1 {
    font-size: 45pt;
    text-align: center;
}

#head-container > h2 {
    font-size: 33pt;
    color: rgb(44,48,145); /*might not match design mockup*/
    text-align: center;
}

#current-weather {
    display: flex;
    flex-direction: row;
    order: 4;
    font-family: "Saira Extra Condensed", sans-serif;
    font-weight: 200; /*light?*/
    justify-content: space-evenly;
    align-items: center;
}

.time-1 {
    font-size: 35pt;
}

#temp-1 {
    font-size: 85pt;
}

#search {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#errorMessage {
    font-size: 8pt;
    color: red;
    display: none;
}

#search > p {
    font-size: 22pt;
}

#textfield {
    background-color: rgb(44,48,145);
    font-size: 20pt;
    color: white;
}

#submit {
    color: white;
    font-size: 16pt;
    background-color: #7f88cb;
}

#doppler {
    display: none; /*not visible on mobile view.*/
}

#logo {
    max-height: 200px; max-width: 200px;
}

#view2 {
    display: none; /*not visible until user swipes up*/
}